:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --button-color: #f5f4fa;
}

body {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
p{
  margin: 0;
}
img {
  display: block;
}
.container{
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1667;
  text-align: center;
  margin-bottom: 50px;
}
 /* хедер */
.header {
  background-color: #ffffff;
  border-bottom: 1px solid #ECECEC;
  display: flex;
  text-align: center;
}
.header-container {
  display: flex;
  text-align: center;
}
.logo {
  display: block;
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923;
  padding-top: 24px ;
  padding-bottom: 25px;
  margin-right: 93px;
}
.logo:focus {
  
}
.logo-web {
  color: var(--accent-color);
}
.link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.02em;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.link:hover,
.link:focus {
  color: var(--accent-color);
}
.list .link.current {
  color: var(--accent-color);
  padding-top: 32px;
  padding-bottom: 32px;
}
.list {
  display: flex;
  gap: 50px;
  margin-right: auto;
  
}
.header-link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.02em;
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}
.communication {
  display: flex;
  gap: 50px;
  align-items: center;
}
.communication-icon {
  fill: currentColor;
  margin-right: 10px;
}

/* герої */
.hero {
  background-color: #2f303a;
  text-align: center;
  padding-bottom: 200px;
  padding-top: 200px;
}
.hero-title {
  
  margin-bottom: 30px;
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636;
  letter-spacing: 0.06em;
}
.button-order {
  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;
  margin: 0 auto;
  min-width: 216px;
  height: 50px;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  cursor: pointer;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
}
.button-order:hover,
.button-order:focus {
}

/* особливості */
.features-lists {
  display: flex;
}
.features-list:last-child{
  margin-right: 0;
}
.features-list {
  margin-right: 30px;
}
.features-title {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428;
}
.features-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142;
}
.features-icon{
  width: 65px;
  height: 70px;
}
/* робота */
.section.works {
  padding-top: 0;
}
.work {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
}
.work-images {
  flex-basis: calc(100% / 3 - 30px);
}

/* команда */
.team {
  background-color: #f5f4fa;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.employee {
flex-basis: calc(100% / 4 - 30px);
text-align: center;
padding-bottom: 30px;
background-color: var(--primary-white-color);
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}
.team-title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  margin-top: 30px;
}
.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  margin-top: 10px;
  
}

/* Портфоліо кнопки */
.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter-link:not(:last-child) {
  margin-right: 8px;
}
.button all {
  padding: 6px 25px;
}
.button {
  background-color: var(--button-color);
  color: var(--title-text-color);
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  cursor: pointer;
  border: none;
  border-radius: 4%;
  padding: 6px 22px;
}
.button .all {
  padding: 6px 25px;
}
.button:hover,
.button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
/* проекти */
.card-list{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.card-link {
  flex-basis: calc(100% / 9 - 30px);
  background: #FFFFFF;
  
}
.card {
  padding: 20px 24px;
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
}
.projects-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.projects-view {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
}
.projects-list {
  display: block;
}
/* Клієнти */
.client-list {
  width: 170px;
  height: 92px;
  padding: 16px 32px;
  
}
.client-link {
  border: 1px solid #AFB1B8;
  border-radius: 4px;
}
.client-link:hover,
.client-link:focus {
  color: var(--accent-color);
}
.client-Logo {
width: 106px;
display: flex;
height: 60px;
fill: #AFB1B8;
}
/* підвал */
.footer {
  background-color: #2f303a;
}
.footer-container{
  padding-top: 60px;
  padding-bottom: 60px;
}
.logo-footer {
  color: var(--primary-white-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923;
  display: block;
  margin-bottom: 20px;
}
.logo-footer:focus {
  color: var(--accent-color);
}
.link-address:not(:last-child){
  margin-bottom: 9px;
}
.footer-map {
  color: var(--primary-white-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142;
  display: block;
}
.footer-map:hover,
.footer-map:focus {
  color: var(--accent-color);
}
.footer-link {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7143;
  font-style: normal;
  display: block;
}
.footer-link:focus,
.footer-link:hover {
  color: var(--accent-color);
}
/* Приєднуйтесь */
.join {
  color: var(--primary-white-color);
  font-weight: 700;
font-size: 14px;
line-height: 1.1428;

}